@import "structure.css";

/*--small component--*/
/*--small component--*/

/* solid button */
.btn {
  border-radius: 4px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 0;
}
.btn:hover {
  border: 1px solid transparent;
}
.btn:focus {
  border: 1px solid transparent !important;
}
.btn:active {
  box-shadow: none;
}
.btn-ex-lg {
  height: 56px;
  font-size: 1rem !important;
  padding: 0 1rem !important;
}
.btn-lg {
  height: 56px;
  font-size: 1rem !important;
  padding: 0 1rem !important;
}
.btn-md {
  height: 48px;
  font-size: 1rem !important;
  padding: 0 1rem !important;
}
.btn-sm {
  height: 40px;
  font-size: 0.875rem !important;
  padding: 0 1rem !important;
}
.btn-ex-sm {
  height: 32px;
  font-size: 0.875rem !important;
  padding: 0 1rem !important;
}
.btn-exx-sm {
  height: 24px;
  font-size: 0.75rem !important;
  padding: 0 1rem !important;
}

/* primary or brand button */
.btn-primary {
  background: var(--bs-primary-500);
  color: var(--bs-white);
}
.btn-primary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-primary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white);
}
/* primary or brand button */
.btn:disabled {
  color: var(--bs-white);
  background-color: var(--bs-primary-500);
  opacity: 40%;
  cursor: no-drop;
}
/* secondary button */

.btn-secondary {
  background: var(--bs-secondary-500);
  color: var(--bs-white);
}
.btn-secondary:hover {
  background: var(--bs-secondary-600);
  color: var(--bs-white);
}
.btn-secondary:focus {
  background: var(--bs-secondary-600) !important;
  color: var(--bs-white) !important;
}
/* secondary button */

/* success button */

.btn-success {
  background: var(--bs-success-500);
  color: var(--bs-white);
}
.btn-success:hover {
  background: var(--bs-success-600);
  color: var(--bs-white);
}
.btn-success:focus {
  background: var(--bs-success-600) !important;
  color: var(--bs-white) !important;
}
/* success button */

/* danger button */
.btn-danger {
  background: var(--bs-danger-500);
  color: var(--bs-white);
}
.btn-danger:hover {
  background: var(--bs-danger-600);
  color: var(--bs-white);
}
.btn-danger:focus {
  background: var(--bs-danger-600) !important;
  color: var(--bs-white) !important;
}
/* danger button */

/* warning button */

.btn-warning {
  background: var(--bs-warning-500);
  color: var(--bs-white);
}
.btn-warning:hover {
  background: var(--bs-warning-600);
  color: var(--bs-white);
}
.btn-warning:focus {
  background: var(--bs-warning-600) !important;
  color: var(--bs-white) !important;
}
/* warning button */

/* info button */
.btn-info {
  background: var(--bs-info-500);
  color: var(--bs-white);
}
.btn-info:hover {
  background: var(--bs-info-600);
  color: var(--bs-white);
}
.btn-info:focus {
  background: var(--bs-info-600) !important;
  color: var(--bs-white) !important;
}
/* info button */

/* link button */
.btn-link {
  color: var(--bs-primary-500);
  text-decoration: none;
}
.btn-link:hover {
  color: var(--bs-primary-600);
}
.btn-link:focus {
  color: var(--bs-primary-600) !important;
}
/* link button */

/* primary or brand outline button */
.btn-outline-primary {
  border: 1px solid var(--bs-primary-500) !important;
  color: var(--bs-primary-500);
  background: var(--bs-primary-50);
}
.btn-outline-primary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-outline-primary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white);
}
/* primary or brand outline button */

/* secondary button */

.btn-outline-secondary {
  border: 1px solid var(--bs-neutral-300) !important;
  color: var(--bs-neutral-900);
  background: var(--bs-white);
}
.btn-outline-secondary:hover {
  background: var(--bs-primary-600);
  color: var(--bs-white);
}
.btn-outline-secondary:focus {
  background: var(--bs-primary-600) !important;
  color: var(--bs-white) !important;
}

/* outline secondary button */

/* outline success button */

.btn-outline-success {
  border: 1px solid var(--bs-success-500) !important;
  color: var(--bs-success-500);
  background: var(--bs-success-50);
}
.btn-outline-success:hover {
  background: var(--bs-success-600);
  color: var(--bs-white);
}
.btn-outline-success:focus {
  background: var(--bs-success-600) !important;
  color: var(--bs-white) !important;
}
/* outline success button */

/* outline danger button */
.btn-outline-danger {
  border: 1px solid var(--bs-danger-500) !important;
  color: var(--bs-danger-500);
  background: var(--bs-danger-50);
}
.btn-outline-danger:hover {
  background: var(--bs-danger-600);
  color: var(--bs-white);
}
.btn-outline-danger:focus {
  background: var(--bs-danger-600) !important;
  color: var(--bs-white) !important;
}
/* outline danger button */

/* outline warning button */

.btn-outline-warning {
  border: 1px solid var(--bs-warning-500) !important;
  color: var(--bs-warning-500);
  background: var(--bs-warning-50);
}
.btn-outline-warning:hover {
  background: var(--bs-warning-600);
  color: var(--bs-white);
}
.btn-outline-warning:focus {
  background: var(--bs-warning-600) !important;
  color: var(--bs-white) !important;
}
/* outline warning button */

/* info outline button */
.btn-outline-info {
  border: 1px solid var(--bs-info-500) !important;
  color: var(--bs-info-500);
  background: var(--bs-info-50);
}
.btn-outline-info:hover {
  background: var(--bs-info-600);
  color: var(--bs-white);
}
.btn-outline-info:focus {
  background: var(--bs-info-600) !important;
  color: var(--bs-white) !important;
}
/* info button */

.anchorBtn-primary {
  color: var(--bs-primary-500);
  background: transparent;
  border: 1px solid var(--bs-primary-500);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.anchorBtn-primary:hover {
  color: var(--bs-primary-500);
}

.anchorBtn-secondary {
  color: var(--bs-secondary-500);
  background: transparent;
  border: 1px solid var(--bs-secondary-500);
  border-radius: 4px;
}
.anchorBtn-secondary:hover {
  color: var(--bs-secondary-500);
}

/* badge */

.badge {
  --bs-badge-font-weight: 500;
  --bs-badge-border-radius: 4px;
}
.text-bg-primary {
  color: var(--bs-white) !important;
  background-color: var(--bs-primary-500) !important;
}
.text-bg-secondary {
  color: var(--bs-neutral-900) !important;
  background-color: var(--bs-white) !important;
}
.text-bg-success {
  color: var(--bs-white) !important;
  background-color: var(--bs-success-500) !important;
}
.text-bg-danger {
  color: var(--bs-white) !important;
  background-color: var(--bs-danger-500) !important;
  border-radius: 50%;
}
.text-bg-warning {
  color: var(--bs-white) !important;
  background-color: var(--bs-warning-500) !important;
}
.text-bg-info {
  color: var(--bs-white) !important;
  background-color: var(--bs-info-500) !important;
}
.text-bg-orange {
  color: var(--bs-white) !important;
  background-color: var(--bs-orange-500) !important;
}

/* badge */

/* alert component */
.alert {
  --bs-alert-margin-bottom: 0;
  --bs-alert-border: 0;
  --bs-alert-border-radius: 16px;
  font-weight: 500;
  --bs-alert-border-color: none;
  width: fit-content;
}
.alert-lg {
  --bs-alert-padding-x: 0.625rem !important;
  --bs-alert-padding-y: 0.438rem !important;
  font-size: 18px;
  line-height: 26px;
}
.alert-md {
  --bs-alert-padding-x: 0.525rem !important;
  --bs-alert-padding-y: 0.25rem !important;
  font-size: 16px;
  line-height: 24px;
  /* height:32px; */
}
.alert-sm {
  --bs-alert-padding-x: 0.425rem !important;
  --bs-alert-padding-y: 0.125rem !important;
  font-size: 14px;
  line-height: 20px;
  --bs-alert-padding-y: 0.125rem;
  /* height:24px; */
}
.alert-ex-sm {
  --bs-alert-padding-x: 6px !important;
  --bs-alert-padding-y: 1px !important;
  font-size: 10px;
  font-weight: 600 !important;
  line-height: 14px;
  /* height: 16px; */
}
.alert .fa-circle {
  font-size: 8px;
}
.alert-primary {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-primary-500);
}
.alert-secondary {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-secondary-500);
}

.alert-success {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-success-500);
}
.alert-danger {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-danger-500);
}
.alert-warning {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-warning-500);
}
.alert-info {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-info-500);
}

.alert-cyan {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: #06b6d4;
}
.alert-orange {
  --bs-alert-color: var(--bs-white);
  --bs-alert-bg: var(--bs-orange-500);
}

/* alert variation 2 */
.alert-primary-50 {
  background: var(--bs-primary-50);
  color: var(--bs-primary-500);
}
.alert-secondary-50 {
  background: #f4f3ff;
  color: #5925dc;
}

.alert-success-50 {
  background: var(--bs-success-50);
  color: var(--bs-success-500);
}
.alert-info-50 {
  background: var(--bs-info-50);
  color: var(--bs-info-500);
}
.alert-warning-50 {
  background: var(--bs-warning-50);
  color: var(--bs-warning-500);
}
.alert-danger-50 {
  background: var(--bs-danger-50);
  color: var(--bs-danger-500);
}
.alert-orange-50 {
  background: var(--bs-orange-50);
  color: var(--bs-orange-500);
}
.alert-cyan-50 {
  background: var(--bs-orange-50);
  color: var(--bs-orange-500);
}
.alert-neutral-50 {
  background: var(--bs-neutral-50);
  color: var(--bs-neutral-500);
}
/* alert variation 2 */

/* end alert component */

/* pagination component */
.pagination {
  --bs-pagination-color: var(--bs-neutral-600);
  --bs-pagination-bg: var(--bs-white);
  --bs-pagination-hover-color: var(--bs-white);
  --bs-pagination-hover-bg: var(--bs-primary-500);
  --bs-pagination-focus-color: var(--bs-white);
  --bs-pagination-active-color: var(--bs-white);
  --bs-pagination-active-bg: var(--bs-primary-500);
  --bs-pagination-focus-bg: var(--bs-primary-500);
}
.pagination .page-item:first-child .page-link {
  border: 1px solid transparent !important;
}
.pagination .page-link {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--bs-neutral-300);
  border-radius: 4px;
}
.page-link:focus {
  box-shadow: none;
}
/* end pagination component */

/* card component */
.card {
  border: 0;
  cursor: pointer;
  background: var(--bs-white);
  box-shadow: none;
  box-shadow: none;
  border-radius: 0.625rem;
  position: relative;
}
.card-title {
  margin: 0;
}
.summary {
  margin-top: 34px;
}
.summary .card {
  border: 1px solid var(--bs-neutral-300);
  border-radius: 8px;
}
.cards .row {
  margin: 0 -12px;
  row-gap: 24px;
}
.cards .row .col-lg-3 {
  padding: 0 12px;
}
.summary .card .card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.cards .row .card-icon {
  width: 40px;
  height: 40px;
}

/* card component */

/* input form */

.form-control {
  padding: 0.532rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid var(--bs-neutral-300);
  color: var(--bs-neutral-900);
  background: var(--bs-neutral-50);
}
.form-control:focus {
  border: 1px solid var(--bs-primary-500);
  background: var(--bs-neutral-50);
  color: var(--bs-neutral-900);
}
.form-control:focus::-webkit-input-placeholder {
  color: var(--bs-neutral-300);
}
.form-error-icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 14px;
  bottom: 40px;
}
.form-control.is_error {
  border: 1px solid var(--bs-danger-500);
  box-shadow: 0px 0px 0px 2px rgba(255, 84, 73, 0.2);
  background: var(--bs-danger-50);
  color: var(--bs-neutral-900);
}
.form-error-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--bs-danger-800);
  line-height: 18px;
  margin-top: 8px;
}
.form-label {
  font-size: 14px;
}
/* input form */

/* custom select box */
.custom-select {
  position: relative;
  width: 100%;
}
.custom-select input {
  width: 100%;
  padding: 8px 11px;
  border: 1px solid var(--bs-neutral-300);
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  color: var(--bs-neutral-900);
  background: var(--bs-neutral-50);
}
.custom-select input:focus {
  background: var(--bs-neutral-50);
}
.custom-select input:focus {
  border: 1px solid var(--bs-primary-500);
}
.custom-select .arrow-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  pointer-events: none;
  background-image: url("../images/master_icon/down_arrow_sm.svg");
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s ease-in-out;
}
.custom-select input.rotate ~ .arrow-icon {
  transform: translateY(-50%) rotate(180deg);
}
.options-list {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-color: var(--bs-white);
  border-radius: 4px;
  display: none;
  transition: transform 0.3s ease;
  box-shadow: 0px 10px 14px -4px rgba(15, 28, 51, 0.08),
    0px 2px 8px -4px rgba(15, 28, 51, 0.05);
  z-index: 5;
  min-height: 150px;
  max-height: 200px;
  overflow-y: auto;
}
.options-list::-webkit-scrollbar-track {
  border-radius: 4px;
  background: var(--bs-white);
}
.options-list::-webkit-scrollbar {
  width: 5px;
  border-radius: 4px;
}
.options-list::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}
.options-list.show {
  display: block;
  transform: scaleY(1);
}
.options-list option,
.options-list li {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--bs-neutral-900);
  padding: 6px 16px;
  cursor: pointer;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.options-list option:hover,
.options-list li:hover {
  background-color: var(--bs-neutral-100);
}
/* end custom select box */

/* checkbox radio and switch */
.form-check-input:checked[type="radio"] {
  background-size: 20px;
}
.form-check-input:checked[type="checkbox"] {
  background-image: url(../images/master_icon/checkbox.png);
  background-size: 14px;
}
.form-check-input:checked {
  background-color: var(--bs-primary-500);
}
.form-check-input {
  width: 20px;
  height: 20px;
  vertical-align: top;
  outline: none;
  margin-top: 0px;
  margin-right: 10px;
  background-color: transparent;
  border: 1px solid var(--bs-neutral-300) !important;
  transition: none;
  border-radius: 2px !important;
  cursor: pointer;
}
.form-check {
  display: flex;
  margin-bottom: 0;
  align-items: center;
}
.form-check .form-check-label {
  font-weight: 400;
  color: var(--bs-neutral-900);
  cursor: pointer;
  font-size: 14px;
}
.form-check-input[type="radio"] {
  border-radius: 50% !important;
}
.form-switch .form-check-input.switch {
  background-image: url(../images/master_icon/ellips.png);
}
.form-switch .switch {
  width: 50px;
  height: 24px;
  background: var(--bs-neutral-300);
  background-repeat: no-repeat;
  background-position: left 2px center;
  border: 1px solid transparent !important;
  border-radius: 50px !important;
}
.form-switch .form-check-input:focus {
  background-image: none !important;
}
.form-switch .form-check-input.switch:focus {
  background-image: url(../images/master_icon/ellips.png) !important;
}
.form-check-input.switch:checked {
  background-color: var(--bs-primary-500);
  border-color: transparent !important;
}
.form-switch .form-check-input:checked {
  background-position: right 2px center;
}
.form-check-input:checked[role="switch"] {
  background-image: url(../images/master_icon/ellips.png) !important;
  background-size: 18px;
}
/* end checkbox radio and switch */

/* tab menu button */
.tab-menus .tab-item .btn {
  min-width: fit-content !important;
  padding: 0 14px;
}
.tab-menus .nav {
  gap: 64px;
  --bs-nav-link-color: var(--bs-neutral-800);
  --bs-nav-link-hover-color: var(--bs-primary-500);
}
.tab-menus .nav .nav-item .nav-link.active {
  color: var(--bs-primary-500);
  box-shadow: none;
  border-bottom: 1px solid var(--bs-primary-500);
}
.tab-menus .nav .nav-item .nav-link {
  display: flex;
  width: fit-content;
  height: fit-content;
  font-size: 16px;
  padding: 0 !important;
}
.btn-tap.tab-menus .nav {
  gap: 14px;
}
.btn-tap.tab-menus .nav .nav-item .nav-link {
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
  height: 32px;
  font-size: 16px;
  padding: 0 14px !important;
  background: var(--bs-white);
  color: var(--bs-neutral-900);
  border-radius: 4px;
  border-bottom: 0px;
}
.btn-tap.tab-menus .nav .nav-item .nav-link.active {
  color: var(--bs-white);
  background: var(--bs-primary-500);
}

/* tab menu button */

/* accordion list */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.accordion-button {
  padding: 0px 18px;
  height: 72px;
  font-size: 20px;
  color: var(--bs-neutral-900);
  font-weight: 600;
  background: transparent;
}
.accordion-item {
  background-color: var(--bs-neutral-50);
  border: 1px solid var(--bs-neutral-300) !important;
  border-radius: 4px;
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: var(--bs-neutral-900);
  background-color: var(--bs-neutral-50);
  box-shadow: none;
}
.accordion-button::after {
  background-image: url(../images/master_icon/accrodin_plus.svg);
  background-size: 24px;
  width: 24px;
  height: 24px;
}
.accordion-button:not(.collapsed)::after {
  background-image: url(../images/master_icon/accrodin_minus.svg);
}
.accordion {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.accordion-body p {
  color: var(--bs-neutral-900);
}
/* accordion list */

/* ajax search box */
.search-box {
  width: 100%;
  position: relative;
}
.search-box .form-control {
  position: relative;
  padding-left: 48px;
}
.search-box > .search_icon {
  position: absolute;
  top: 14px;
  left: 16px;
}
.form-control:focus::-webkit-input-placeholder {
  color: var(--bs-neutral-300);
}
#searchResults,
#groupSearchResults {
  display: none;
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background-color: var(--bs-white);
  border-radius: 4px;
  box-shadow: 0px 10px 14px -4px rgba(15, 28, 51, 0.08),
    0px 2px 8px -4px rgba(15, 28, 51, 0.05);
  z-index: 4;
}
.search_result li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--bs-neutral-900);
}
.search_result .recent_results {
  color: var(--bs-neutral-500);
  padding: 0 16px 18px 16px;
}
.search_result .recent_results .anchor-tag {
  color: var(--bs-neutral-500);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.search_result li span {
  display: flex;
  align-items: center;
}
.search_result li:hover {
  background-color: var(--bs-neutral-100);
}
.search_result li .search_item_img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.search_result li .close_result {
  width: 20px;
  height: 20px;
  display: none;
}
.search_result li:hover .close_result {
  display: block !important;
  cursor: pointer;
}
.search-box .input-group .form-control {
  padding-left: 16px;
  border-right: 1px solid transparent;
}
.search-box .input-group .btn-md {
  width: 74px;
}
.search-box .input-group .btn:active {
  box-shadow: none;
}
.search_result li a {
  width: calc(100% - 28px);
  height: 20px;
}
.search_result li a p {
  font-size: 14px;
  line-height: 20px;
}
.search_result .recent_results a {
  font-size: 12px;
}
/* end ajax search box */

/* message page or component */
.message-wrapper {
  width: 484px;
  height: 340px;
}
.message-wrapper p {
  color: var(--bs-neutral-600);
}
.message-wrapper .message-icon img {
  width: auto;
  height: auto;
}
/* message page or component */

/* modal */
.modal-header .btn-close {
  padding: 10px;
  /* background-image: url("../images/message_icon/btn_close_icon.svg"); */
  /* opacity: 1; */
  width: 20px;
  height: 20px;
}
.modal-header .btn-close:hover {
  color: var(--bs-primary-500);
}
.modal-header .btn-close:focus {
  box-shadow: none;
}
.modal-header {
  padding: 10px 16px 0 16px;
  border: 0;
}
.message-modal .modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 16px 34px 16px;
}
.message-modal .message-wrapper {
  width: 100%;
  height: fit-content;
}
.message-modal .modal-content {
  border-radius: 24px;
}
/* modal */

.progress {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: var(--bs-neutral-50);
  --bs-progress-border-radius: 4px;
}
.dropdown-menu {
  border-radius: 5px;
  background: var(--bs-white);
  margin-top: 10px !important;
  right: 0 !important;
  left: unset !important;
}
.dropdown-toggle::after {
  display: none;
}

/* multiselect */
.multiselect {
  position: relative;
}
.multiselect .menu-label {
  cursor: pointer;
  height: 40px;
}
.multiselect .menu-toggle {
  display: none;
}
.multiselect .menu-list {
  width: 100%;
  position: absolute;
  display: none;
  list-style-type: none;
  padding: 18px 0px;
  margin: 10px 0;
  background: var(--bs-white);
  box-shadow: 0px 2px 8px -4px rgba(15, 28, 51, 0.05),
    0px 10px 14px -4px rgba(15, 28, 51, 0.08);
  z-index: 1;
}
.multiselect .menu-list li {
  font-size: 16px;
  font-weight: 400;
  color: var(--bs-neutral-900);
  display: flex;
  gap: 14px;
  padding: 14px 16px;
  cursor: pointer;
}
.multiselect .menu-list li input {
  width: 20px;
  height: 20px;
  border: 1.5px solid var(--bs-neutral-500);
  border-radius: 4px;
}
.multiselect .selected-item {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 5px;
  background-color: var(--bs-neutral-200);
  border-radius: 4px;
}
.multiselect .close-icon {
  margin-left: 5px;
  cursor: pointer;
  font-size: 24px;
  line-height: 20px;
  color: var(--bs-neutral-600);
}
/* multiselect */

/* image or file upload */
.image-upload-container {
  gap: 30px;
}
.productMain-image .dragDrop-area {
  height: 124px;
}
.dragDrop-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--bs-neutral-300);
  position: relative;
  cursor: pointer;
  border-radius: 3px;
  background: var(--bs-neutral-50);
}
.dragDrop-area .image-upload {
  display: none;
}
.gallery_images .dragDrop-area {
  width: 74px;
  height: 74px;
}
.dragDrop-area .image-preview-container {
  position: absolute;
  top: -3px;
  width: 76px;
  height: 76px;
  /* display: none; */
}
.dragDrop-area .close-icon {
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
  /* display: none; */
  width: 24px;
  height: 24px;
}
.dragDrop-area .upload-label {
  cursor: pointer;
}

/* image or file upload */

.navigation .custom-select {
  width: 64px;
}
.navigation .custom-select .arrow-icon {
  top: 44%;
}

.selectize-control.single .selectize-input {
  box-shadow: none;
  background: var(--bs-neutral-50);
  background-image: none;
  padding: 0.625rem 0.75rem;
  border: 1px solid var(--bs-neutral-300);
  border-radius: 4px;
  font-size: 14px;
  color: var(--bs-neutral-900);
  /* height: 48px; */
}
.selectize-input.focus {
  box-shadow: none;
  border: 1px solid var(--bs-primary-500) !important;
}
.selectize-dropdown {
  top: 44px !important;
  border: 0;
  background: var(--bs-white);
  padding: 10px 0;
  box-shadow: 0px 10px 14px -4px rgba(15, 28, 51, 0.08),
    0px 2px 8px -4px rgba(15, 28, 51, 0.05);
  border-radius: 4px;
}
.selectize-dropdown [data-selectable].option {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--bs-neutral-900);
  padding: 6px 16px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.selectize-dropdown-content::-webkit-scrollbar-thumb {
  border-radius: 4px;
}
.options-list option:hover {
  background-color: var(--bs-neutral-100);
}
.selectize-dropdown .active:not(.selected) {
  background-color: var(--bs-neutral-100);
  color: var(--bs-neutral-900);
}
.selectize-dropdown .selected {
  background-color: var(--bs-primary-500);
  color: var(--bs-white) !important;
}
.selectize-control.single .selectize-input:after {
  width: 0.5rem;
  height: 0.5rem;
  right: 14px;
  top: 50%;
  border-color: inherit;
  -webkit-transform: rotate(-136deg) translateY(-50%);
  transform: rotate(-136deg) translateY(-50%);
  position: absolute;
  content: "";
  border-width: 1px 0 0 1px;
  border-style: solid;
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: all 0.3s ease-out;
  border-color: var(--bs-black);
}
.selectize-control.single .selectize-input.dropdown-active:after {
  content: "";
  border-width: 1px 0 0 1px;
  border-style: solid;
  -webkit-transform-origin: top;
  transform-origin: top;
  transition: all 0.3s ease-out;
  border-color: var(--bs-black);
  transform: rotate(45deg) translateY(0%);
  top: 60%;
}

/* table css */
.table {
  margin: 0;
}
.table .row {
  justify-content: space-between;
}
.table .row .cell {
  width: fit-content;
  display: flex !important;
  align-items: center;
}

.table .tbody .row,
.table .thead .row {
  border-bottom: 1px solid var(--bs-neutral-300);
  background: none;
  font-size: 14px;
  color: var(--bs-neutral-900);
}

.table .tbody .row {
  font-weight: 400;
  padding: 14px 0;
}

.table .thead .row {
  font-weight: 500;
}

/* table css */
